<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Handler pour démarrer l'app Node.js -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Fichier de log IISNode -->
    <iisnode loggingEnabled="true" logDirectory="./iisnode" />

    <!-- Redirection des requêtes vers server.js -->
    <rewrite>
      <rules>
        <rule name="NodeJS" stopProcessing="true">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Compression HTTP -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="text/*" enabled="true" />
      </dynamicTypes>
    </httpCompression>

  </system.webServer>
</configuration>
